body{
    font-family: 'Montserrat', sans-serif !important;
}
.one{
    background: #f7f8f9;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    height: 150px;
    max-height: 200px;
    text-align: center;
    margin: 8px;
    cursor: pointer;

}

.two{
    
    background: #f7f8f9;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    height: 150px;
    max-height: 200px;
    text-align: center;
    margin: 8px;
    cursor: pointer;
   
}

.cardClient{
    
    background: #f7f8f9;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    height: 90vh;
    text-align: center;
    margin: 8px;
    cursor: pointer;
   
}

.three{
    
    width: 100%;
    height: 400px;
    max-height: 400px;
    text-align: center;
   
}


.four{
    background: #f7f8f9;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    width: 100%;
    height: 400px;
    max-height: 400px;
    margin: 8px;
    
}



.five{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    background: #f7f8f9;
    width: 100%;
    height: 400px;
    max-height: 400px;
    margin: 8px;
    text-align: center
}



.img-1{
    width: 100%;
    padding-top: 10px
}





.img-circle{
    border-radius: 50%;
}

.avatar{
    width: 60px;
    height: 60px;
}

.icon{
    width: 60%;
    padding-top: 30%;

    
}
.icon22{
    width: 35%;
    position: inline-block;
    vertical-align: middle;
    padding-top: 20%
    
}

.icon-ch{
    width: 40%;
    padding-top: 15%;

    
}
.icon22-ch{
    width: 20%;
    position: inline-block;
    vertical-align: middle;
    padding-top: 10%
    
}

.icon2{

    background: #f7f8f9;
    height: 192px;
    margin: 0px 8px 15px 8px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    cursor: pointer;
}

.icon3{
    background: #f7f8f9;
    height: 192px;
    margin: 8px 8px 8px 8px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    cursor: pointer;
}

.md-button.md-small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

.img-responsive{
    width: 100%;
}

.bloody{
   width: 60%;
   
}

.bloody-ch{
   width: 35%;
   
}



.ion-ios-plus-empty, .ion-social-linkedin-outline, .ion-document{

    font-size: 2em
}

.center{
    text-align: center !important;
}

.about{
    text-align: center
}

.koodzo{
    margin: 5%;
    width: 60%;
}

.bloody-text{
  margin-left: 10%
}

.bloody-img{
   text-align: center
}

.img-scheduleme{
    background: #3949ab
}
.img-bloody-2{
    background: #f9f9f9
}

#uno{
    background: none !important;
    color: #333;
    width: 100%;
    height: 100vh;
    
}

#dos{
   background: #02d7fd!important;
   color: #fff ;
   width: 100%;
   height: 100vh;
  
}

#tres{
   background: #8e24aa!important;
   color: #fff ;
   width: 100%;
   height: 100vh;
}


#cuatro{
   background: #03bcd5!important;
   color: #fff ;
   width: 100%;
   height: 100vh;
}

#cinco{
     background: #ff0c64!important;
     color: #fff ;
     width: 100%;
     height: 100vh;
}

.image{
    width: 46%;
    height: auto;
}

.clientName{
    font-size: 30px;
    font-weight: 800;
}

.clientDescription{
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    padding: 10%;
}


.client-Img{
    text-align: center
}


.md-button.md-fab.md-fab-bottom-right {
top: 20px !important;
right: auto;
bottom: auto;
left: 20px !important;
position: fixed !important;
}

md-toolbar{
   position: fixed !important;
   top: 0px !important;
   background: #f7f8f9 !important
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
   background: #f7f8f9 !important;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.1);

}

.ion-ios-arrow-back{
    font-size: 2em;
    line-height: 0px
}

.imgViews{
    padding-top: 60px !important
}

.img-Logo-Bloody{
    width: 50%;
}