<div layout="column" layout-align="center center" >
<md-toolbar>
    <div class="md-toolbar-tools">
        <button class="md-button" type="button"  aria-label="back button" ng-click="go('/')">
            <md-icon md-font-icon="ion-ios-arrow-back" aria-hidden="true"></md-icon>Back</button>
    </div>
  </md-toolbar>
 <section class="imgViews cardClient" name="section-2">
                <div class="clients" layout="column" layout-gt-md="column" layout-lg="row" layout-xs="column" ng-repeat="client in clientSection1" layout-align="center center">
                     <div layout="column" layout-gt-md="column" layout-lg="row" layout-xs="column">
                         <div class="client-Img" flex="50"><img class="image" ng-src="{{client.src}}"></div>
                            <div id="{{client.id}}" class="clientDescription"  flex="50">
                                <span class="clientName">{{client.name}}</span><br/>
                                <span class="clientDescription">{{client.description}}</span>
                            </div>
                        </div> 
                  </div>
            </section> 
            <section>

                <div layout="row"  layout-xs="column" layout-align="center center">
                    <div class="client-Img four" layout-align="center center" layout="column" flex><img class="image" ng-src="{{src2}}"></div>
                    <div class="client-Img four" layout-align="center center" layout="column" flex><img class="image" ng-src="{{src3}}"></div>
                    <div class="client-Img four" layout-align="center center" layout="column" flex></div>
                </div>

</section>     
 </div>
