<!-- page-home.html -->
<!-- first cols -->
<div layout="row" layout-xs="column">
  <div layout="row" class="one" flex ng-click="go('/scheduleme')">
    <div layout="column" flex>
      <h2>ScheduleMe</h2>
      <p></p>
    </div>
    <div class="img-scheduleme" layout="column" flex layout-align="center center">
       <img src="img/scheduleme.jpg"/>
    </div>
   
  </div>
  <div layout="row" class="one" flex ng-click="go('/bloody')">
    <div layout="column" flex>
      <h2>Bloody</h2>
      <p></p>
    </div>
    <div class="img-bloody-2" layout="column" flex layout-align="center center">
       <img class="img-Logo-Bloody" src="img/Bloody-logo.jpg"/>
    </div>
   
  </div>
  <div class="two" flex  layout-align="center center">
     <p>More Info</p>
    <h2 style="line-height: 0px">About me</h2>

    <md-button class="md-mini md-fab" aria-label="see more"  ng-click="showAdvanced($event)">
            <md-icon md-font-icon="ion-ios-plus-empty"></md-icon>
     </md-button>
  </div>
</div>

<div layout="row" hide-sm hide-xs layout-xs="column" layout-align="center center" >
  <div class="three"flex="20">
   <div flex="100"  ng-click="go('/meetme')" class="icon2" layout-align="center"> <img class="icon" src="img/meetme.svg"/></div>
   <div flex="100"  ng-click="go('/mappd')" class="icon3" layout-align="center"><img class="icon22" src="img/mappd.svg"/></div>
    
  </div>
  <div class="four" flex="65" layout="row">
    <div class="bloody-text" layout="column" flex>
        <h1>Caria</h1>
        <p>is the next generation of simple, secure
telemedicine used to improve the quality and quantity of human life.</p>
         <md-button href="https://healthcareanywhere.com/" target="_blank" class="md-primary">meet the project</md-button>
     

    </div>
    <div  class="img-bloody" layout="column" flex layout-align="center center" >
       <div class="bloody-img"> <img class="bloody" src="img/Caria2.png"/></div>
    </div>
   
  </div>
  <div class="five" flex="20">
    <p>Work in progress</p>
    <h2>Mobile App</h2>
    <img class=" koodzo" src="img/koodzo.png"/>
    <md-button href="https://koodzo.com/" target="_blank" class="md-primary">meet the new client</md-button>
     

  </div>
</div>

<div layout="column" layout-xs="column" show-sm hide-lg hide-xl >
    <div class="three"flex="100">
         <div flex="100" class="icon2" layout-align="center"> <img class="icon-ch" src="img/meetme.svg"/></div>
         <div flex="100" class="icon3" layout-align="center"><img class="icon22-ch" src="img/mappd.svg"/></div>
    </div>
    <div class="four" flex="100">
         <div class="bloody-text" layout="column" flex>
              <p>More Info</p>
            <h1>About me</h1>
          </div>
          <div class="img-bloody" layout="column" flex layout-align="center center">
            <div class="bloody-img"> <img class="bloody-ch" src="img/Bloody.png"/></div>
          </div>

    </div>
    <div class="five" flex="100">
          <p>Work in progress</p>
          <h2>Mobile App</h2>
          <img class=" koodzo" src="img/koodzo.png"/>
     </div>
</div>

<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Paulina Espinosa">
  <form ng-cloak>
  

    <md-dialog-content>
      <div class="md-dialog-content about">

        <img class="img-circle avatar" alt="paulina espinosa" src="img/avatar.jpg">

        <p>
          I'm Pau, a UI/UX designer with 7 years experience,  specializing in User Interface Design and Development.  
 I seek to design experiences which comply with the latest web standards.  I mainly focus on clean HTML5, CSS3, Javascript code and I'm very fond of Angular.
        </p>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-icon-button md-accent" aria-label="resume" href="files/Paulina_Espinosa_UX_Designer.pdf" target="_blank">
        <md-icon md-font-icon="ion-document"></md-icon>
      </md-button>
      <md-button href="https://www.linkedin.com/in/paulina-espinosa-5b6741112/" target="_blank" class="md-icon-button md-accent" aria-label="linkedin">
            <md-icon md-font-icon="ion-social-linkedin-outline"></md-icon>
     </md-button>
     
    </md-dialog-actions>
  </form>
</md-dialog>
</script>    

<script type="text/ng-template" id="dialog2.tmpl.html"><md-dialog aria-label="Paulina Espinosa">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content about">
        <img class="img-responsive" alt="happy path scheduleme" src="img/happy-path.jpg">
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
</script>    



