<div layout="column" layout-align="center center" >
<md-toolbar>
    <div class="md-toolbar-tools">
        <button class="md-button" type="button"  aria-label="back button" ng-click="go('/')">
            <md-icon md-font-icon="ion-ios-arrow-back" aria-hidden="true"></md-icon>Back</button>
    </div>
  </md-toolbar>

 <section class="imgViews">
     <div layout="row"  layout-xs="column" layout-align="center center">
        <div class="client-Img four" layout-align="center center" layout="column" flex><img class="image" ng-src="{{src2}}"></div>
               <div class="client-Img four" layout-align="center center" layout="column" flex><img class="image" ng-src="{{src3}}"></div>
                 <div class="client-Img four" layout-align="center center" layout="column" flex><img class="image" ng-src="{{src4}}"></div>
             </div>
         </div>
</section>     

