<div layout="column" layout-align="center center" >

            <section name="section-2">
                <div class="clients" layout="column" layout-gt-md="column" layout-lg="row" layout-xs="column" ng-repeat="client in clientSection1" layout-align="center center">
                     <div layout="column" layout-gt-md="column" layout-lg="row" layout-xs="column">
                         <div class="client-Img" flex="50"><img class="image" ng-src="{{client.src}}"></div>
                            <div id="{{client.id}}" class="clientDescription"  flex="50">
                                <span class="clientName">{{client.name}}</span><br/>
                                <span class="clientDescription">{{client.description}}</span>
                            </div>
                        </div> 
                  </div>
            </section>     
 </div>
